html,
* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
}

#toolbar {
	margin-top: 10px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.window .text {
	height: 300px;
}

.window {
	position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}