html,
* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0px;
  padding: 0px;
}

#toolbar {
	margin-top: 10px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#container {
	display: flex;

}

#app .text {
	height: 300px;
}

#app {
	position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}

#list {
	margin: 10px;
	padding-left: 0px;
	list-style: none;
	max-width: 100px;
}

#list a {

}
.map-container {
	height: 400px;

}